<div class="gli-container">
    <a href="https://access.gaminglabs.com/certificate/index?i=314" class="gli-certificate-box row mx-0" rel="nofollow" target="_blank">
        <div class="gli-certificate-img-wrapper">
            <img src="{{ gliCheckImg }}" alt="Gaming Labs Certified">
        </div>
        <div class="col gli-certificate-text-wrapper">
            <p class="text-primary">
                <strong>{{ 'Draw certified by Gaming Laboratories International' | trans }}</strong>
            </p>

            <p><small>{{ 'Our True Random Number Generator has been certified by Gaming Laboratories International to ensure the highest security and guarantee 100% fairness of the drawing process.' | trans }}</small></p>
        </div>
        <div class="gli-certificate-img-wrapper">
            <img src="{{ gliImg }}" alt="Gaming Labs Certified">
        </div>
    </a>
    <h2><a href="https://{{ whitelabelDomain }}/how-does-trng-work/" target="_blank">{{ 'Click here to see how the TRNG works' | trans }}</a></h2>
</div>
